<!DOCTYPE html>
<html>
  <header>
    <title>TrainingWebApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </header>


  <body>

      <header>
        <div class="header-logo">
        <a href="/">TweetApp</a>
        </div>
        <ul class="header-menus">
          <li>
       <%= link_to("TweetAppとは","/about") %>
     </li>
     <li>

      <%= link_to("投稿一覧","/posts/index") %>
     </li>
        </ul>
      </header>


    <%= yield %>
  </body>
</html>
